* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/* Header */
header {
  background-color: #131921;
  color: white;
}

body {
  background-color: #E0E1DD;
}

.header-content {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1060px;
  margin: 0 auto;
}

/* Product Page */
.page-container {
  padding: 10px 20px;
  max-width: 1060px;
  margin: 0 auto;
}

.product-content {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.product-image-content {
  margin-right: 20px;
  width: 400px;
  height: 400px;
}

.product-image {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.product-price {
  margin: 10px 0px;
  font-size: 18px;
  font-weight: bold;
}

.product-detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-detail-container div {
  margin: 10px 0px;
}

.product-detail-item {
  margin-top: 10px;
  margin-left: 18px;
  max-width: 300px;
}

.add-to-cart-btn {
  background-color: #F7CA01;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
}

.add-to-cart-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Cart Page */
.cart-item-content {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: white;
}

.cart-item-info-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.cart-item-quantity-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart-item-quantity-content {
  display: flex;
  align-items: center;
}

.cart-item-image {
  width: 100px;
}

.cart-item-quantity-title-content {
  margin-bottom: 10px;
}

.cart-item-quantity {
  margin-right: 10px;
}

.cart-item-quantity-btn {
  background-color: #131921;
  border: none;
  color: white;
  font-size: 20px;
  width: 30px;
  margin-right: 10px;
}

.cart-item-remove-btn {
  background: none;
  border: none;
  font-size: 20px;
  margin-right: 20px;
}

.cart-item-remove-btn:hover, .cart-item-quantity-btn:hover {
  cursor: pointer;
}

.cart-item-quantity-btn:disabled {
  cursor: auto;
  opacity: 0.5;
}

.cart-quantity {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #F08803;
  border-radius: 100%;
  text-align: center;
  padding: 0px 6px;
  border: 2px solid #131921;
}

.cart-button-container {
  position: relative;
  width: max-content;
  padding: 0px 5px;
}

.cart-button {
  color: white;
}

.final-price-paragraph {
  font-size: 24px;
}

.free-shipping {
  margin: 10px 0px;
  font-weight: bold;
}

.button-icon {
  width: 10px;
  height: 10px;
}

.link-return {
  color: #131921;
  margin-bottom: 5px;
}

/* Home Page */

.cat-prod-container {
  display: flex;
  padding: 8px;
  margin: 0 auto;
}

.categories-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  border: 1px solid black;
}

.category-btn {
  padding: 10px 3px;
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
}

.category-btn:hover {
  cursor: pointer;
  background-color: #131921;
  color: white;
}

.products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product-img {
  width: 200px;
  height: 150px;
  object-fit: contain;
}

.product-img-content {
  width: 200px;
  height: 150px;
  margin: 15px auto;
}

.card-container {
  width: 300px;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.products-search-container {
  width: 100%;
}

.search-container {
  margin: 0 10px;
}

.search-input {
  padding: 10px 5px;
  width: 100%;
  font-size: 16px;
  border: none;
}

.search-form {
  border: 1px solid black;
  width: 100%;
  display: flex;
}

.search-btn {
  width: 50px;
  border: none;
  background-color: #F08803;
  border-left: 1px solid black;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.search-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card-product-title {
  font-size: 18px;
}

.card-product-price {
  margin: 10px 0;
  font-size: 18px;
  color: #E16C0D;
  text-weight: bold;
}

/* Loading */
.loading-container {
  width: 100%;
}

.lds-spinner {
  width: 80px;
  height: 80px;
  margin: 50px auto;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: black;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
